@import url(./root.css);



/* -----COMMON------- */
.category-section,
.featured-products-section
{
    margin-top: 4rem;
    padding: 0.5rem 2rem;
}
.category-heading h1,
.featured-products-heading h1
{
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
    position: relative;
    color: var(--primary);
}
.category-heading h1::before,
.featured-products-heading h1::before
{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--primary-mute);
}

/*-----------------Upper Nav-------------------- */
.upper-nav-wrapper
{
    background-color: var(--primary);
    color: var(--white);
    padding: 0.5rem 2rem;
}
.upper-nav
{
    height: 60px;
}
.nav-tools
{
    flex-basis: 80%;
}
.nav-tools svg,
.sign-tool-wrapper h5
{
    cursor: pointer;
}
.search-tool-wrapper,
.nav-tools svg,
.sign-tool-wrapper
{
    margin: 0 0.6rem;
}
.nav-tools svg:hover,
.sign-tool-wrapper h5:hover
{
    color: var(--primary-fade);
}
.search-tool-wrapper
{
    width: 80%;
    background-color: var(--primary-mute);
    padding: 0 0.5rem;
    border-radius: 2px;
    transition: all 0.4s;
}
.search-tool-wrapper:hover,
.search-tool-wrapper:focus
{
    background-color: var(--primary-mute-fade);
}
.search-tool-wrapper input
{
    outline: 0;
    width: 100%;
    padding: 0.4rem 0.4rem 0.4rem 0;
}
.search-tool-wrapper input:focus + svg
{
    color: var(--primary-fade);
}
.cart-tool-wrapper,
.wishlist-tool-wrapper
{
    position: relative;
}
.cart-tool-counter,
.wishlist-tool-counter
{
    position: absolute;
    right: 0px;
    top: -8px;
    height: 20px;
    width: 20px;
    background-color: var(--counter); 
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:650;
    font-size: 0.75rem;
    text-align: center;
}
.sign-tool-wrapper
{
    font-weight: 600;
    font-size: 1.05rem;
    letter-spacing: 0.5px;
}

/* --------------Lower Nav---------------------- */
.lower-nav-wrapper
{
    background-color: var(--secondary-soft);
    padding: 0.8rem 2rem;
}
.lower-nav-categories li span
{
    font-weight: 500;
    color: var(--primary);
    cursor: pointer;
    transition: all 0.3s;
    display: inline-block;
    margin: 0 1.5rem;
}
.lower-nav-categories li span:first-child
{
    margin-left: 0;
}
.lower-nav-categories li span:last-child
{
    margin-right: 0;
}
.lower-nav-categories li span:hover
{
    color: var(--primary-mute-fade);
}
.lower-nav-categories li
{
    position: relative;
}
.lower-nav-list-dropdown
{
    position: absolute;
    top: 36px;
    background-color: var(--white);
    width: 50vw;
    padding: 1rem 1.2rem;
    box-shadow: var(--box-shadow-dark);
    border-radius: 3px;
    z-index: 1;
    display: none;
}
.lower-nav-list-dropdown h1
{
    font-weight: 500;
    color: var(--primary-mute);
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--primary-mute-fade);
}
.section-dropdown li:not(:last-child)
{
    margin: 0.8rem 0;
}
.section-dropdown li a
{
    color: var(--grey-soft);
    display: block;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 0.95rem;
}
.section-dropdown li a:hover
{
    color: var(--grey);
}
.lower-nav-categories li span.activeCategoryList
{
    color: var(--primary-fade);
}
.active-category-dropdown
{
    display: flex;
}

/* --------Banner-------- */
.banner-image-wrapper
{
    background-image: url(https://fastly.picsum.photos/id/20/3670/2462.jpg?hmac=CmQ0ln-k5ZqkdtLvVO23LjVAEabZQx2wOaT4pyeG10I);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100vw;
    position: relative;
}
.banner-image-overlay
{
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: var(--white);
    text-align: center;
}
.image-overlay-heading h1
{
    font-size: 2.2rem;
    margin: 0 auto;
    width: 80%;
    font-weight: 600;
    line-height: 3.8rem;
}
.image-overlay-button button
{
    background-color: var(--primary);
    padding: 0.7rem 3rem;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: 1.15rem;
    font-weight: 600;
    margin-top: 1.5rem;
    cursor:pointer;
    transition: all 0.3s;
}
.image-overlay-button button:hover
{
    background-color: var(--primary-dark);
}
.image-overlay-button span
{
    margin-left: 5px;
}

/* -------categories----- */
.category-products-wrapper
{
    margin-top: 1.6rem;
}
.category-products-image-wrapper
{
    cursor: pointer;
    padding: 1rem;
    box-shadow: var(--box-shadow-light);
    transition: all 0.3s;
}
.category-products-image
{
    height: 200px;
}
.category-products-image img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.category-products-image-name
{
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
}
.category-products-image-name p
{
    font-weight: 500;
    color: var(--grey);
}
.category-products-image-wrapper:hover 
{
    box-shadow: var(--box-shadow-primary);
}

/* -------featured-products------- */
.featured-products-carousel
{
    margin-top: 1.6rem;
}
.featured-products-item
{
    padding: 1rem;
    box-shadow: var(--box-shadow-light);
    transition: all 0.3s;
}
.featured-products-item:hover
{
    box-shadow: var(--box-shadow-primary);
}
.featured-products-item-image
{
    height: 200px;
    width: 100%;
}
.featured-products-item-image img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.featured-products-item-details
{
    margin-top: 0.5rem;
}
.product-item-name h2
{
    color: var(--grey);
    font-size: 1.1rem;
    font-weight: 500;
}
.product-item-description p
{
    color: var(--grey-soft);
    font-size: 0.95rem;
    margin: 0.5rem 0;
}
.discounted-price
{
    color: var(--grey);
    font-weight: 500;
}
.original-price
{
    color: var(--grey-soft);
    text-decoration: line-through;
    margin: 0 0.6rem;
}
.discount-offer
{
    color: var(--discount);
    font-weight: 500;
}
.product-item-rating 
{
    margin-top: 0.2rem;
}
.product-item-rating span svg
{
    color: var(--primary-mute);
}
.product-item-cart-btn button
{
    padding: 0.4rem 1rem;
    border-radius: 2px;
    width: 100%;
    background-color: var(--primary);
    color: var(--white); 
    margin-top: 1rem;  
    cursor: pointer;
    transition: all 0.3s;
}
.product-item-cart-btn button:hover
{
    background-color: var(--primary-dark);
}
